//
//  Dev.xcconfig
//  GalleryApp
//
//  Created by Vikram's Macbook on 07/06/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: - Server
SERVER_BASE_URL = https:/$()/picsum.photos/v2

// MARK: - Google
GOOGLE_CLIENT_ID = 198631883742-3t3on113ehkmssh68566mr135sp9u511.apps.googleusercontent.com
